@import "tailwindcss";
@import "placeholder-loading/dist/css/placeholder-loading.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dcdde0;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  color: rgb(0, 149, 255);
  background: #020618;
}

.bg-menu {
  background: #020618 ;
}
.hero {
  color: #020618;
}
.button-primary, .bg-modal{
  background: #020618f7;
}
.button-secondary{
  background: #172767e2;
}

.bg-bmodal {
  background: #000001b6;
}
.bg-neural-950 {
  background: #f5f5f5 !important;
}